extends layout
block content
  script(src="/bower_components/ckeditor/ckeditor.js")
  form(role='form' action="/newidea" method="POST")
    h2 New Idea
    div.form-group
      label(for="title") Title
      input.form-control(id="title" name="title" placeholder="Title")
    div.form-group
      label(for="priority") Priority
      select.form-control(id="priority" name="priority")
        option(value="") Please select a priority
        option(value="High") High
        option(value="Medium") Medium
        option(value="Low") Low
    div.form-group
      label(for="status") Priority
      select.form-control(id="status" name="status")
        option(value="") Please select a status
        option(value="New") New
        option(value="In Progress") In Progress
        option(value="Rejected") Rejected
        option(value="Complete") Complete
    div.form-group
      label(for="body") Description
      textarea(name="body" id="body" rows="10" cols="80")
      script(type="text/javascript").
        CKEDITOR.replace("body");
    if(error)
      div.alert.alert-danger
        | #{error}
    div.btn-group.pull-right
      button.btn.btn-lg.btn-primary(type='submit') Submit
      a.btn.btn-default.btn-lg(href="/") Cancel
