doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='copyright', content='Copyright (c) 2016 LDC Via')
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src="/images/ldc-via-logo-60px.png")
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            if (tab == "home")
              li.active
                a(href='/') Home
            else
              li
                a(href='/') Home
            if(tab == "about")
              li.active
                a(href='/about') About
            else
              li
                a(href='/about') About
            if(tab == "contact")
              li.active
                a(href='/contact') Contact
            else
              li
                a(href='/contact') Contact
          if(email)
            ul.nav.navbar-nav.navbar-right
              li
                p.navbar-btn
                  a.btn.btn-default(href="/newidea") New Idea
              li
                a(href='/logout') Logout
    .container
      block content

    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
